{{> head }}

{{> navbar }}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel molestiae exercitationem maiores omnis vitae
                ipsa deleniti. Porro ad, temporibus beatae suscipit perferendis eum, dicta aspernatur cum nam ab
                recusandae? Sequi?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/peter.jpg" alt="" class="img-thumbnail">
        </div>
    </div>
</div>

{{> footer}}